@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --primaryColor: #c7351b;
    --secondaryColor: #0f172a;
    --tertiaryColor: #efefef;
    --hoverColor: #1883ef;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

body {
    background-color: var(--primaryColor);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 100%;
    padding-bottom: 2.5rem;
    min-height: 100vh;
}

h1 {
    font-size: 50px;
    color: var(--tertiaryColor);
}

.weather_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: var(--tertiaryColor);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    color: var(--secondaryColor);
    width: calc(200px + 20vw);
}

.weather_forecast {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    padding: 20px 50px;
}

.forecast_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 0 20px;
    background-color: var(--tertiaryColor);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    color: var(--secondaryColor);
    width: calc(100px + 10vw);
}

.form {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: 1rem 0rem;
}

.input_city {
    background-color: var(--tertiaryColor);
    border: 1px solid var(--secondaryColor);
    border-radius: 10px;
    color: var(--secondaryColor);
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    outline: none;
}

.search_btn {
    background-color: var(--secondaryColor);
    cursor: pointer;
    border-radius: 50px;
    border: none;
    color: var(--tertiaryColor);
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin: 0.5rem 1rem;
    font-size: 20px;
    padding: 8px 10px;
    outline: none;
}

.search_btn:hover {
    color: var(--secondaryColor);
    background-color: var(--tertiaryColor);
}

.info {
    color: var(--secondaryColor);
    font-weight: bold;
}

.weather_container img {
    width: 80px;
}

.place {
    font-size: 30px;
}

.temp {
    font-size: 42px;
    margin-top: 1.5rem;
}

.condition {
    font-size: 30px;
    margin: 1.5rem 0rem;
}

footer {
    position: absolute;
    background-color: var(--secondaryColor);
    color: var(--tertiaryColor);
    text-align: center;
    bottom: 0;
    width: 100%;
    padding: 20px;
}

a {
    text-decoration: none;
    color: var(--hoverColor);
}

a:hover {
    color: var(--primaryColor);
}